@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NYHApp</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    </environment>
</head>
<body data-spy="scroll" data-target=".navbar" class="bgbrown">
    @if (SignInManager.IsSignedIn(User))
    {
        <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark headerNav fixed-top" role="navigation" id="myScrollspy">
            <div class="container d-flex justify-content-lg-between justify-content-md-between align-items-center">
                <div class="flex-row col-xs-12">
                    <a href="/Helps/Index" class="navbar-brand logo" id="">We Need Your Help</a>
                </div>
                <div class="flex-row col-xs-12">
                    @if (User.IsInRole("User"))
                    {
                        <a class="btn btn-danger btn-lg font-weight-bold col-xs-12" asp-action="Create" asp-controller="Helps" id="btnHelp"> ¡@NYHApp.Resources.Help.Resource.CreateHelp!</a>
                    }
                </div>
                <div class="flex-row col-xs-12">
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
        <div class="container mt-5 mb-5 border-left border-right border-info main bg-light h-auto pb-5">
            @RenderBody()
        </div>
    }
    else
    {

        @RenderBody()
    }
    <div id="modal"></div>
    <footer id="footer" class="col-xs-12 col-md-12 col-lg-12 text-light text-center">
        <div class="d-flex flex-row order-2 order-lg-3 ">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="#">@NYHApp.Resources.Shared.Resource.Contact</a></li>
            </ul>
            <ul class="navbar-nav flex-row">
                <li class="nav-item"><a class="nav-link px-2" href="#"><span class="fab fa-facebook-square"></span></a></li>
                <li class="nav-item"><a class="nav-link px-2" href="#"><span class="fab fa-twitter-square"></span></a></li>
                <li class="nav-item"><a class="nav-link px-2" href="#"><span class="fab fa-youtube-square"></span></a></li>
            </ul>
        </div>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @if (User.IsInRole("User"))
        {
            <script>
                $("body").find("#footer").addClass("fixed-bottom")
            </script>
        }
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
