@model NYHApp.ViewModels.HelpsViewModels.HelpIndexVM

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    @if (Model != null && Model.ListHelp.Count() > 0)
    {
        <div class="col-xs-12 col-md-12 col-lg-4 mt-3">
            <div class="card bg-light">
                @if (User.IsInRole("User"))
                {
                    <img class="card-img-top" src="~/images/user.svg" alt="Card image cap" height="250" width="250">
                }
                else
                {
                    <img class="card-img-top" src="~/images/enterprise.png" alt="Card image cap" height="250" width="250">
                }
                <div class="card-body text-center">
                    @if (User.IsInRole("User"))
                    {
                        <h5 class="card-title">@User.Identity.Name</h5>
                        <p class="card-text"> @NYHApp.Resources.Help.Resource.SearchHelp</p>
                    }
                    else
                    {
                        <h5 class="card-title">@User.Identity.Name</h5>
                        <p class="card-text"> @NYHApp.Resources.Help.Resource.WantHelp</p>
                    }
                </div>
            </div>
            @if (!User.IsInRole("User") && Model != null && Model.ListHelp.Count() > 0)
            {
                @using (Html.BeginForm("Index", "Helps", FormMethod.Post, new { @class = "form-group", id = "HelpIndexForm" }))
                {
                    <div class="card bg-light mt-3">
                        <div class="card-header text-center">
                            <h5 class="card-title">
                                @NYHApp.Resources.Help.Resource.Filter
                            </h5>
                        </div>
                        <div class="card-body row">
                            <div class="col-xs-12 col-md-12 col-lg-12 p-2">
                                @Html.LabelFor(z => z.Filter.Title, new { @class = "control-label" })
                                @Html.EditorFor(z => z.Filter.Title, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-xs-12 col-md-12 col-lg-12 p-2">
                                @Html.LabelFor(z => z.Filter.Description, new { @class = "control-label" })
                                @Html.EditorFor(z => z.Filter.Description, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <label class="col-xs-12 col-md-12 col-lg-12 pt-2">
                                <input asp-for="@Model.Filter.IsPainting" /> @Html.DisplayNameFor(model => model.Filter.IsPainting)
                            </label>
                            <label class="col-xs-12 col-md-12 col-lg-12">
                                <input asp-for="@Model.Filter.IsMansonry" /> @Html.DisplayNameFor(model => model.Filter.IsMansonry)
                            </label>
                            <label class="col-xs-12 col-md-12 col-lg-12">
                                <input asp-for="@Model.Filter.IsPlumbing" /> @Html.DisplayNameFor(model => model.Filter.IsPlumbing)
                            </label>
                            <label class="col-xs-12 col-md-12 col-lg-12">
                                <input asp-for="@Model.Filter.IsElectricity" /> @Html.DisplayNameFor(model => model.Filter.IsElectricity)
                            </label>
                            <label class="col-xs-12 col-md-12 col-lg-12 pt-2">
                                <input asp-for="@Model.Filter.Photos" /> @Html.DisplayNameFor(model => model.Filter.Photos)
                            </label>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info col-xs-12 col-md-12 col-lg-12"><i class="fas fa-filter"></i> @NYHApp.Resources.Help.Resource.Filter</button>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-xs-12 col-md-12 col-lg-8">

            @foreach (var item in Model.ListHelp)
            {
                <div class="card bg-dark text-light mt-3">
                    <div class="card-header">
                        <span class="text-left card-title">@Html.DisplayFor(modelItem => item.Help.Title)</span>
                    </div>
                    <div class="card-body bg-light text-dark pb-0">
                        <div class="col col-xs-12 col-md-6 col-lg-6">
                            <span class="text-left">@Html.DisplayFor(modelItem => item.Help.Description)</span>
                        </div>
                        <div class="col col-xs-12 col-md-6 col-lg-6">
                            @if (item.Help.Photos != null)
                            {
                                var contador = 0;
                                @foreach (var item2 in item.Help.Photos)
                                {
                                    contador++;
                                    if (contador < 3)
                                    {
                                        <img src="@item2.Path" class="thumb" alt="@item2.FileName">
                                    }
                                }
                            }
                        </div>
                        <div class="row col-xs-12 col-md-12 col-lg-12 mt-3 mb-0 pb-0 border-top">
                            <div class="col-xs-12 col-md-3 col-lg-3">
                                <div>
                                    <label readonly="readonly">
                                        @Html.CheckBoxFor(model => item.Help.IsPainting, htmlAttributes: new { disabled = "disabled" }) @Html.DisplayNameFor(model => item.Help.IsPainting)
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3 col-lg-3">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => item.Help.IsMansonry, htmlAttributes: new { disabled = "disabled" }) @Html.DisplayNameFor(model => item.Help.IsMansonry)
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3 col-lg-3">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => item.Help.IsPlumbing, htmlAttributes: new { disabled = "disabled" }) @Html.DisplayNameFor(model => item.Help.IsPlumbing)
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3 col-lg-3">
                                <div>
                                    <label>
                                        @Html.CheckBoxFor(model => item.Help.IsElectricity, htmlAttributes: new { disabled = "disabled" }) @Html.DisplayNameFor(model => item.Help.IsElectricity)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            @if (!User.IsInRole("User") && item.Help.Proposals != null && item.Help.Proposals.Where(z => z.IdEnterprise == ViewBag.IdEnterprise).Any())
                            {
                                <a class="btn btn-default text-light" asp-action="Details" asp-controller="Proposals" asp-route-id="@item.Help.Proposals.Where(z => z.IdEnterprise == ViewBag.IdEnterprise).FirstOrDefault().IdProposal"><i class="far fa-file-alt"></i></a>
                            }
                            else if (!User.IsInRole("User"))
                            {
                                <a class="btn btn-default text-light" asp-action="Create" asp-controller="Proposals" asp-route-id="@item.Help.IdHelp"><i class="fas fa-reply"></i></a>

                            }
                            <a class="btn btn-default btnDetails" IdHelp="@item.Help.IdHelp"><i class="fas fa-eye"></i></a>
                            @if (User.IsInRole("User"))
                            {
                                <a class="btn btn-default text-light" asp-route-id="@item.Help.IdHelp" asp-action="Edit" asp-controller="Helps"><i class="fas fa-pencil-alt"></i></a>
                            }
                            <a class="btn btn-default hddn"><i class="fas fa-times"></i></a>
                            @if (User.IsInRole("User") && item.Help.Proposals.Any() && item.Help.IdProposalClose == null)
                            {
                                <div class="ml-auto pr-1">
                                    <a class="btn bg-success float-right"><span class="fas fa-exclamation"></span></a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        if (User.IsInRole("User"))
        {
            <div class="text-center col-xs-12 col-md-12 col-lg-12 first" id="firstDiv">
                <a class="btn btn-danger btn-lg font-weight-bold col-xs-12" asp-action="Create" asp-controller="Helps"> ¡@NYHApp.Resources.Help.Resource.CreateHelp!</a>
            </div>
        }
        else
        {
            <div class="col-xs-12 col-md-12 col-lg-4 mt-3">
                <div class="card bg-light">
                    <img class="card-img-top" src="~/images/enterprise.png" alt="Card image cap" height="250" width="250">
                    <div class="card-body text-center">
                        <h5 class="card-title">@User.Identity.Name</h5>
                        <p class="card-text"> @NYHApp.Resources.Help.Resource.WantHelp</p>
                    </div>
                </div>
                @using (Html.BeginForm("Index", "Helps", FormMethod.Post, new { @class = "form-group", id = "HelpIndexForm" }))
                {
                    <div class="card bg-light mt-3">
                        <div class="card-header">
                            <h5 class="card-title text-center">
                                @NYHApp.Resources.Help.Resource.Filter
                            </h5>
                        </div>
                        <div class="card-body row">
                            <div class="col-xs-12 col-md-12 col-lg-12 p-2">
                                @Html.LabelFor(z => z.Filter.Title, new { @class = "control-label" })
                                @Html.EditorFor(z => z.Filter.Title, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-xs-12 col-md-12 col-lg-12 p-2">
                                @Html.LabelFor(z => z.Filter.Description, new { @class = "control-label" })
                                @Html.EditorFor(z => z.Filter.Description, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <label class="col-xs-12 col-md-12 col-lg-12 pt-2">
                                <input asp-for="@Model.Filter.IsPainting" /> @Html.DisplayNameFor(model => model.Filter.IsPainting)
                            </label>
                            <label class="col-xs-12 col-md-12 col-lg-12">
                                <input asp-for="@Model.Filter.IsMansonry" /> @Html.DisplayNameFor(model => model.Filter.IsMansonry)
                            </label>
                            <label class="col-xs-12 col-md-12 col-lg-12">
                                <input asp-for="@Model.Filter.IsPlumbing" /> @Html.DisplayNameFor(model => model.Filter.IsPlumbing)
                            </label>
                            <label class="col-xs-12 col-md-12 col-lg-12">
                                <input asp-for="@Model.Filter.IsElectricity" /> @Html.DisplayNameFor(model => model.Filter.IsElectricity)
                            </label>
                            <label class="col-xs-12 col-md-12 col-lg-12 pt-2">
                                <input asp-for="@Model.Filter.Photos" /> @Html.DisplayNameFor(model => model.Filter.Photos)
                            </label>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info col-xs-12 col-md-12 col-lg-12"><i class="fas fa-filter"></i> @NYHApp.Resources.Help.Resource.Filter</button>
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>

@section Scripts{
    <script>
        $('body').on('click', '.btnDetails', function (e) {
            e.preventDefault();
            succes = function (data) {
                $(".modal-backdrop").remove();
                $("#modal").empty();
                $("#modal").append(data);
                $('#modalActive').modal('handleUpdate');
                $("#modalActive").modal("show");
            }
            error = function (err) {
                console.log("The request is invalid")
            };
            $.ajax({
                type: "GET",
                url: "/Helps/Details",
                data: { id: $(this).attr('IdHelp') },
                success: succes,
                error: error
            });
        })

        $('body').on('click', '.hddn', function (e) {
            var h = (this).closest('.card-footer')
            $(this).closest('.card-footer').closest('.card').addClass('d-none')
        })

        $(document).ready(function () {
            if ($('body').find(".main").find('#firstDiv').hasClass('first')) {
                $("#myScrollspy").find('#btnHelp').addClass('d-none')
            }
        })
    </script>
}

