@model IEnumerable<NYHApp.Models.Proposal>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateLastModified)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Enterprise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Help)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserLastModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enterprise.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Help.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLastModified.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProposal">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProposal">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProposal">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
