@model IEnumerable<NYHApp.Models.Help>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

@if (!SignInManager.IsSignedIn(User))
{
    <nav class="nav bg-transparent" style="min-height:100px">
        <button class="btn text-light font-weight-bold rounded ModalNoData islg col-xs-12 col-md-3 col-lg-3 mb-auto mt-auto bg-transparent mx-auto font-weight-bold" data-href="/Account/RegisterEnterprise"> @NYHApp.Resources.Account.Resource.RegisterEnterprise</button>
        <button class="btn text-light col-xs-12 col-md-3 col-lg-3 rounded mx-auto col-xs-12 col-md-3 col-lg-3 mb-auto mt-auto bg-transparent mx-auto font-weight-bold" id="loginButton"> @NYHApp.Resources.Account.Resource.Login</button>
        <button class="btn text-light col-xs-12 col-md-3 col-lg-3 rounded mx-auto col-xs-12 col-md-3 col-lg-3 mb-auto mt-auto bg-transparent mx-auto ModalNoData islg font-weight-bold" data-href="/Account/Register"> @NYHApp.Resources.Account.Resource.Register</button>
    </nav>
    <div class="row bg-transparent">
        <div id="header" class="header col-xs-12 col-md-6 col-lg-6 mx-auto"></div>
    </div>
    <div class="row p-5">
        <div class="card border-0 col-xs-12 col-md-3 col-lg-3 img-index mx-auto bg-transparent">
            <img src="~/images/Electricity.png" class="img-thumbnail" />
            <div class="card-body text-center text-light">
                <h2 class="card-text text-light">@NYHApp.Resources.Help.Resource.IsElectricity</h2>
            </div>
        </div>
        <div class="card border-0 col-xs-12 col-md-3 col-lg-3 img-index mx-auto bg-transparent">
            <img src="~/images/Masonry.png" class="img-thumbnail" />
            <div class="card-body text-center text-light">
                <h2 class="card-text text-light">@NYHApp.Resources.Help.Resource.IsMansonry</h2>
            </div>
        </div>
        <div class="card border-0 col-xs-12 col-md-3 col-lg-3 img-index mx-auto bg-transparent">
            <img src="~/images/Painting.svg" class="img-thumbnail" />
            <div class="card-body text-center text-light">
                <h2 class="card-text text-light">@NYHApp.Resources.Help.Resource.IsPainting</h2>
            </div>
        </div>
        <div class="card border-0 col-xs-12 col-md-3 col-lg-3 img-index mx-auto bg-transparent">
            <img src="~/images/Plumbing.png" class="img-thumbnail" />
            <div class="card-body text-center text-light">
                <h2 class="card-text text-light">@NYHApp.Resources.Help.Resource.IsPlumbing</h2>
            </div>
        </div>
    </div>
}
